body {
  margin: 0;
  padding: 0;
  
  color: #222;
  font-family: 'Nunito', sans-serif;
}

body * {
  transition: box-shadow 0.400s ease-in-out, background  0.400s ease-in-out;
}

.App{
  width: 100%;
 
  padding-bottom: 40px;

}

.loggedUser{
  padding-top: 3rem;
  padding-left: 5rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.jumbotron{
  margin-top: 2rem;
  background-image: url("https://i.imgur.com/bvnzAcY.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: white;
  height: 10rem;
}


.fragmentTitle{
  text-align:center;
  font-weight: bolder;
  color:rgb(182,102,198);
}
.navbar {
  grid-area: navbar;
  background: linear-gradient(117deg,
   rgba(249, 107, 142, 1),
   rgba(218, 103, 230, 1), 
   rgba(130, 125, 253, 1));
  justify-content: justify;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav li{
  list-style: none;
  padding: 0.5em 0;
}

nav li a{
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover{
  opacity: 1;
}

.itemsContainer {
 
  margin-top: 3rem;
  display:grid; 
  flex-wrap: stretch;
  grid-gap:20px; 
  justify-content: center; 
  box-sizing: border-box; 
  font-size: 0.8rem;
  grid-template-columns: repeat(5, auto); 
  grid-auto-rows: minmax(19rem, auto); 
}


.dLogin {
  width: 500px;
  margin-top: 5rem;
  text-align: left;
}

.diSignin {
  margin-top: 5rem;
}

.loginWindow {
  background: rgba(14, 84, 175, 0.05);
}

section {
  margin-top: 40px;
}
.itemCreation {
  display: flex;
  justify-content: space-around;
}

.cardForm{
  width: 25rem;
}

.cardSpace{
  margin: 0.4rem;
}

.preview {
  width: 35%;
  max-width: 500px;
  
}

.preview img {
  width: 100%;
  margin-bottom: 10px;
}

.card-body{
  padding: 0;
}

.itemsCard{
  width: 18rem;
}
.itemCreation {
  display: flex;
  justify-content: space-around;
}
.cardsImg{
  height: 17rem;
  margin: 0.1rem;
}

.cardsTitle{
  height:5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
}

.cardsTitle a{
  color: rgba(130, 125, 253, 1);
  text-decoration: none;
}

#row1 {
  justify-content: center;
  box-sizing: border-box;
}